.Footer {
    display: flex;
    padding: 0px 20px 10px 20px;
}

.FooterItem {
    padding: 10px;
}

.FooterItemTitle {
    font-size: large;
}

.FooterItemContent {
    min-width: 200px;
    padding: 5px 0px 0px 0px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

i {
    padding: 5px;
}

@media screen and (max-width: 800px) {
    .Footer {
        flex-direction: column;
        padding: 10px 0px 10px 0px;
    }
    
    .FooterItem {
        padding: 10px 0px 10px 0px;
        width: 100%;
    }
    
    .FooterItemContent {
        padding: 5px;
    }
}