.Footer {
    color: black;
    display: flex;
    padding: 20px;
}

.FooterItem {
    padding: 10px;
}

.FooterItemTitle {
    font-size: large;
}

.FooterItemContent {
    min-width: 200px;
    padding: 5px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

i {
    padding: 5px;
}

@media screen and (max-width: 800px) {
    .Footer {
        flex-direction: column;
    }
    
    .FooterItem {
        width: 100%;
    }
    
    .FooterItemContent {
        padding: 5px;
    }
}