.Project {
    padding: 10px 0px 10px 0px;
}

.ProjectThumb {
    float: left;
    width: 150px;
    height: 150px;
    padding-right: 10px;
}

.ProjectTitle {
    font-size: large;
}

.ProjectTitleDate {
    float: right;
}

.ProjectShortContent {
    padding: 5px;
}

@media screen and (max-width: 600px) {
    .ProjectThumb {
        float: none;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .ProjectTitle {
        text-align: center;
    }
}

@media screen and (max-width: 1000px) {
    .ProjectTitleDate {
        display: none;
    }
}

